* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Segoe UI', sans-serif; }
body { background-color: #0b0b0b; color: white; scroll-behavior: smooth; }

/* Topo Transparente */
.navbar {
    position: absolute; width: 100%; height: 70px;
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 20px; z-index: 100; background: transparent;
}
.logo { color: #ff0000; font-size: 26px; font-weight: 900; letter-spacing: 2px; }
.menu-icon { color: white; font-size: 30px; cursor: pointer; }

/* Menu Lateral */
.side-menu {
    height: 100%; width: 0; position: fixed; z-index: 1000; top: 0; right: 0;
    background-color: #111; overflow-x: hidden; transition: 0.5s; padding-top: 60px;
}
.side-menu a { padding: 15px 30px; text-decoration: none; font-size: 20px; color: white; display: block; }
.side-menu .closebtn { position: absolute; top: 0; right: 25px; font-size: 36px; }

/* Banner */
.main-banner {
    height: 75vh; background: linear-gradient(rgba(0,0,0,0.5), #0b0b0b), url('Bedia.jpeg');
    background-size: cover; background-position: center;
    display: flex; align-items: center; padding: 20px;
}
.btn-primary { background: #ff0000; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold; }
.btn-plus { background: #222; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 20px; }

/* Grid de Mangá */
.content-section { padding: 40px 20px; }
.manga-grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); gap: 20px; }
.manga-card { text-align: center; cursor: pointer; }
.manga-card img { width: 100%; border-radius: 10px; border: 1px solid #333; }

/* Modal Janela de Capítulos */
.modal { display: none; position: fixed; z-index: 2000; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.95); align-items: flex-start; justify-content: center; overflow-y: auto; padding-top: 50px; }
.modal-content { background: #151515; padding: 25px; border-radius: 15px; width: 90%; max-width: 450px; text-align: center; margin-bottom: 50px; }
.close-modal { float: right; font-size: 30px; cursor: pointer; }

.chapter-btn { 
    display: block; background: #252525; color: white; padding: 12px; 
    margin: 8px 0; text-decoration: none; border-radius: 8px; font-weight: bold; 
}
.chapter-btn:hover { background: #ff0000; }

/* Like e Comentários */
.interact-bar { margin-top: 20px; border-top: 1px solid #333; padding-top: 20px; text-align: left; }
.like-btn { background: #333; border: none; color: white; padding: 10px 20px; border-radius: 20px; cursor: pointer; margin-bottom: 20px; }
.comments-area { margin-top: 10px; }
.comments-area h4 { color: #ff0000; margin-bottom: 10px; }